<div class="">
    
    {% for image in images %}
        <img src="{{ image.image.url }}" alt="" style="width: 1000px;" width="">
    {% endfor %}
    
    {% if product.video_link %}
    
    <iframe width="420" height="345" src="{{ product.video_link }}">
    </iframe>
    {% endif %}
    
    
    {% if show_content %}
    {% include "products/snippets/product_content.html" with product=object %}
    {% endif %}
    
    
    {% if show_price %}
    <p>
        ${{product.price}}
    </p>
    {% endif %}
    
    {% if show_inventory %}
    <p>
        {{ product.inventory }}
    </p>
    {% endif %}
    </div>